.section_content .about {
  line-height: 2em;
}

.quotes_container {
  margin-top: 32px;
  width: 100%;
}

.section_content .server_code_text {
  color: grey;
  font-size: 0.9em;
  font-style: italic;
}

.quote_button {
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  margin-top: 24px;
  padding: 16px 24px;
  background-color: #6c7078;
  color: white;
  font-weight: bold;
  border: none;
}

.quote_button:hover {
  background-color: #9da4b1;
}

.profile_image_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: auto;
  margin: 16px auto;
}

.profile_image_container img {
  max-width: 100%;
  max-height: 100%;
}

.text-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  border: 1px solid rgba(136, 131, 131, 0.95);
  border-radius: 8px;
  padding: 16px;
  min-height: 48px;
}

.placeholder_text {
  font-style: italic;
  color: rgba(136, 131, 131, 0.95);
}

.random_text {
  margin: 8px 0 16px 0;
}
